.wraper-main{
    width: 1460px;
    margin: 0 auto;
}
.search-icon{
    color: white;
    font-size: 20px;
}
.container{
    width: 1460px;
    margin: 0 auto;
}
.container2{
    width: 1160px;
    margin: 0 auto;
}

.underline::after{
    content:"";
    background-color: #169cb4;
    height: 3px;
    width: 60px;
    display: block;
    margin: 40px auto;
    }

    /*HEADER*/
.wrap-flex{
    display: flex;
    height: 60px;
    background-color: #1d2124;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-nav-img{
    background-image: url("../img/architect_logo.png.png");
    background-position: center;
    background-repeat: no-repeat;
    height:60px;
    width: 60px;
    background-color: #1a1d20;
}
.header-nav-logo{
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    flex-direction: column;
}
.header-name{
    color: white;
    text-transform: uppercase;
}
.header-nav-menu{
    flex-wrap: nowrap;
    justify-content: center;
}
.header-nav-link{
    margin: 20px 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.header-search-icon{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #171a1c;
    justify-content: center;
    align-items: center;
}
/*article*/
.article-header{
    display: flex;
    background-image: url("../img/flexbox/header-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 404px;
    background-position: right bottom -200px;
    background-attachment: fixed;
    align-items: center;
}
.article-news{
    margin-bottom: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.article-news-title{
    display: flex;
    flex-wrap: wrap;
    font-size: 27px;
    color: white;

}
.article-news-btn{
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
}
.btn{
    display: flex;
    text-decoration: none;
    height: 55px;
    width: 170px;
    border: 1px;
    text-transform: capitalize;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    color: white;


}
.subscribe-now{
    margin-right: 10px;
    background-color: #89ca62;
}
.article-best{
    margin-left: 10px;
    background-color: #14b9d5;
}
/*SECTION*/
/*styles*/
.posts-sub-title{
    margin: 20px 0;
    text-align: center;
    color: #353a3d;
}
.block-gap{
    margin-bottom: 31px;
}
.posts-desript{
    background-color: white;
    font-size: 18px;
    font-weight: 700;
}
/*Styles*/
.posts{
    display: flex;
    background-color: #f2f2f2;
    box-sizing: border-box;

}
.wraper{
    display: flex;
    width: 1160px;
    justify-content: space-around;
    margin: 0 auto;
}
.posts-title{
    display: flex;
    justify-content: center;
    font-size: 27px;
    color: #18b4cf;
    text-transform: uppercase;
    margin-top: 43px;
    margin-bottom: 52px;
    font-weight: 700;
}
.posts-vango-royal{
    display: flex;
    flex-direction: column;
}

.posts-sunrice-sunset{
    display: flex;
    flex-direction: column;
}
.posts-stargaze-glorious{
    display: flex;
    flex-direction: column;
}

/*OUR Clients*/
.our-clients{
    display: grid;
    background-image: url("../img/grid/parallax-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 590px;
    background-attachment: fixed;
    background-position: center;
    align-content: center;
}
                    /*GRID SETTINGS*/
.our-clients-wrap{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "our-clients-title our-clients-title our-clients-title our-clients-title"
            "our-clients-dryme our-clients-house our-clients-journy our-clients-national";

}

.our-clients-wrap > div {
    font-size: 5vw;
    text-align: center;
}

.our-clients-title{
    grid-area: our-clients-title;

}
.our-clients-dryme{
    grid-area: our-clients-dryme;
    align-content: space-between;
}
.our-clients-house{
    grid-area: our-clients-house;
}
.our-clients-journy {
    grid-area: our-clients-journy;
}
.our-clients-national{
    grid-area: our-clients-national;
}

                                /*GRID SETTINGS*/
.our-clients-title{
    color: white;
}
.sub-title{
    font-size: 32px;
    text-transform: uppercase;
}
/*TOP RATED-SECTION*/
.top-rated{
    width: 100%
}
.title{
    text-align: center;
    font-size: 27px;
    color: #18b4cf;
    text-transform: uppercase;
    margin-top: 43px;
    font-weight: 700;
}
.top-rated-img {
    height: 190px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding-top: 52px;
    grid-template-areas:
    "top-rated-img1 top-rated-img2 top-rated-img3 top-rated-img4 top-rated-img5 top-rated-img6 top-rated-img7"
}

.top-rated-img>div{
   background-position: center;
    background-repeat: no-repeat;
    /*border: 1px solid white;*/

}
.top-rated-img1{
    background-image: url(../img/img_toprated/lp1.png);
    grid-area: top-rated-img1;
}
.top-rated-img2{
    background-image: url("../img/img_toprated/lp2.png");
    grid-area: top-rated-img2;
}
.top-rated-img3{
    background-image: url("../img/img_toprated/lp3.png");
    grid-area: top-rated-img3;
}
.top-rated-img4{
    background-image: url("../img/img_toprated/lp4.png");
    grid-area: top-rated-img4;
}
.top-rated-img5{
    background-image: url("../img/img_toprated/lp5.png");
    grid-area: top-rated-img5;
}
.top-rated-img6{
    background-image: url("../img/img_toprated/lp6.png");
    grid-area: top-rated-img6;
}
.top-rated-img7{
    background-image: url("../img/img_toprated/lp7.png");
    grid-area: top-rated-img7;
}
/*HOT news*/
.hot-news{
    padding-bottom: 51px;
    display: grid;

}
.hot-news-img{
    width: 100%;
}
.bc-color{
    background-color: #f9f7f7;
}
.grid {
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    grid-template-areas:
            "phs-emirates phs-emirates phs-emirates nebula"
            "wpr-egypt wpr-egypt gmr-maldives gmr-maldives"
            "wr-tenerife wr-tenerife wsh-gb wsh-gb"
            "ph-ierland ksr-spaine ksr-spaine ksr-spaine "
}

.grid > div {
    font-size: 5vw;
    text-align: center;

}

.phs-emirates {
    grid-area: phs-emirates;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/*.phs-emirates-paragraph{*/

/*}*/
.nebula {
    grid-area: nebula;

}

.wpr-egypt {
    grid-area: wpr-egypt;
    display: grid;
  }

.gmr-maldives {
    grid-area: gmr-maldives;
}

.wr-tenerife {
    grid-area: wr-tenerife;
}

.wsh-gb {
    grid-area: wsh-gb;
}

.ph-ierland {
    grid-area: ph-ierland;
}
.ksr-spaine{
    grid-area: ksr-spaine;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.hotnews-heading{
    font-size: 18px;
    text-transform: capitalize;
    color: #353a3d;

    font-weight: 700;
    margin-top: 22px;
    margin-bottom: 20px;
    text-align: right;
    margin-right: 27px;
}
.hotnews-heading-header-footer{
    font-size: 18px;
    text-transform: capitalize;
    color: #353a3d;
    font-weight: 700;
    margin-top: 21px;
    margin-bottom: 22px;
    text-align: right;
    margin-right: 27px;
}
.paragraph-hotnews{
    font-size: 14px;
    font-family: "Courier", sans-serif;
    line-height: 1.5;
    font-weight: 700;
    color:#5b6469;
    margin-right: 27px;
    margin-left: 22px;
    text-align: right;
    padding-bottom: 21px;
}
.paragraph-hotnews-header-footer{
    text-align: right;
    margin-right: 24px;
    margin-left: 30px;
    font-size: 14px;
    padding-bottom: 10px;
    font-family: "Courier", sans-serif;
    line-height: 1.5;
    font-weight: 700;
    color:#5b6469;
}
.nebula-paragraph, .ph-ierland-paragraph{
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: capitalize;
    color: #353a3d;
    font-weight: 700;
}
.hot-news-wrap{
    width: 1160px;
    margin: 0 auto;

}

/*FOOTER*/
footer{
    display: grid;
    height: 80px;
    background-color: #1d2124;
    grid-template-columns: 0.9fr 0.2fr;
    align-content: center;
}
.footer-copy{
    color: white;
    display: grid;
    font-size: 13px;
    margin-left: 200px;
    align-content: center;
}
.footer-liot{
    align-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 34px;
    color: white;
}